.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myClass {
    border: 1px solid black;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(243, 239, 239);
    border: none;
    box-shadow:0 5px 7px 0 rgb(63, 205, 110);
}
.inputText{
    width: 190px;
    height: 25px;
    margin-bottom: 20px;
    border: none;
}
button{
    background-color: #04AA6D;
    margin: 10px;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
}
